

/*************************************************************************** 
ToDo 1:
Setzen Sie das Formblatt links.
****************************************************************************/
form {
    float:left;
}


/*************************************************************************** 
ToDo 2:
Setzen Sie ein Mouse-Over im footer(Pseudoklassen) mit der Farbe " #4368AB " 
****************************************************************************/

footer a:hover{
    color: #4368AB;
}
a:active{
    color:red;
}

/*************************************************************************** 
ToDo 3:
Setzen Sie das Textfeld rechts vom Fromblatt.
Erweitern sie das Textfeld und Definieren sie es so das man nach unten Scrollen kann.
****************************************************************************/
#marginal {
    overflow-y:scroll;
    float:right; 
    height:555px;
}

/*************************************************************************** 
ToDo 4:
Setzen Sie "footer div" links im Textfluss.
****************************************************************************/
footer div {
    float:left;
}

/*************************************************************************** 
ToDo 5:
Setzen Sie das FH-Logo rechts im Textfluss.
****************************************************************************/
header img {
	float: right;
}
/*************************************************************************** 
ToDo 6:
Setzen Sie die Navigation links im Textfluss. 
****************************************************************************/
nav{
    float:left;
}

