* {
  font: 12pt Arial;
  padding: 0px;
  margin: 0px;
}

body {
  float: center;
  background: #666666;
}

header {
  left: 50%;
  text-align: center;
  margin: 0px auto;
  background: #F2F2F2;
}

nav {
  left: 50%;
  padding: 4px 0px;
  margin: 0px auto;
  background: #F2F2F2;
}

section {
  margin: 0px auto;
}

footer {
  margin: 0px auto;
  background: #F2F2F2;
}

article {
  background: #F2F2F2;
  margin: 8px 0px;
  padding: 8px;
}

hgroup {
  padding: 4px 8px;
  margin: 4px 0px;
}

canvas {
  background: #FFFFFF;
  border: 1px #000000 solid;
}



p {
  padding: 4px 0px;
}

h1 {
  font-size: 22pt;
  font-weight: bold;
}

h2 {
  font-size: 18pt;
  font-weight: bold;
}

h3 {
  font-size: 14pt;
  font-weight: bold;
}

h4 {
  font-weight: bold;
}

h5 {
  font-weight: bold;
  font-style: italic;
}



a {
  text-decoration: none;
}

a:hover {
  color: #FF0000;
}

b {
  font-weight: bold;
  font-style: italic;
}

ul {
  list-style-type: none;
}

nav ul {
  text-align: center;
}

nav ul li {
  text-align: center;
  display: inline-block;
  width: 120px;
}

hgroup ul {
  margin: 8px 0px;
}

font {
  color: #FF0000;
}

table {
  width: 100%;
  border-spacing: 0px;
}

th {
  font-weight: bold;
  font-style: italic;
  border-left: 1px #000000 solid;
  padding: 2px;
}

td {
  border-left: 1px #000000 solid;
  border-top: 1px #000000 solid;
  padding: 2px;
}


div {
  padding: 4px 8px;
  margin: 4px 0px;
}

div .console {
  padding: 10px;
}

.example {
  color: #225500;
  background: #CCFFAA;
  border: 1px #225500 solid;
}

.console {
  color: #FFFFFF;
  background: #000000;
}

.notice {
  color: #554400;
  background: #FFEEAA;
  border: 1px #554400 solid;
}

.important {
  color: #550000;
  background: #FFAAAA;
  border: 1px #550000 solid;
}

.bonus {
  color: #002255;
  background: #AACCFF;
  border: 1px #002255 solid;
}



@media screen and ( min-width: 960px ) {
  header { width: 960px; }
  nav { width: 960px; }
  section { width: 960px; }
  footer { width: 960px; }
  canvas { width: 320px; height: 240px; }
  img { width: 400px; height: 300px; }
}

@media screen and ( max-width: 240px ) {
  header { width: 240px; }
  nav { width: 240px; }
  section { width: 240px; }
  footer { width: 240px; }
  canvas { width: 200px; height: 150px; }
  img { width: 200px; height: 150px; }
}