
* {
    /**************************************************************************
    ToDo 1:
    Setzen Sie für das gesamte Dokument:
    Schriftfamilie:     myriad-pro" und alternativ "sans-serif"
    **************************************************************************/
    
}

    /**************************************************************************
    ToDo 2:
    Belegen Sie die Hauptueberschriften (h1) mit folgenden Eigenschaften:
    Schriftgoesse:      18px
    Schriftgewichtung:  600
    Zeilenhoehe:        110%
    **************************************************************************/



    /**************************************************************************
    ToDo 3:
    Belegen Sie die Absaetze (p) mit folgender Eigenschaft:
    Schriftgoesse:      12px
    **************************************************************************/



    /**************************************************************************
    ToDo 4:
    Belegen Sie die Navigation (nav) mit folgender Eigenschaft:
    Schriftgoesse:      18px
    **************************************************************************/



    /**************************************************************************
    ToDo 5:
    Belegen Sie die Navigationslistenpunkte (nav ul li) mit folgender Eigenschaft:
    Schriftgewichtung:   bold
    **************************************************************************/


    
    /**************************************************************************
    ToDo 6:
    Belegen Sie die Links innerhalb der Navigation (nav) mit folgenden Eigenschaften:
    Rahmen unten:       solid 2px #4368ab
    Schriftfarbe:       #000 oder auch #000000
    Textdekoration:     none
    Schriftgewichtung:  normal
    **************************************************************************/



    /**************************************************************************
    ToDo 7:
    Setzen Sie fuer jeden einzelnen der Links in der Navigation folgende
    Eigenschaften fuer den Rahmen (unten):
    1. Navigationspunkt: solid 2px #9AC120
    2. Navigationspunkt: solid 2px #E64123
    3. Navigationspunkt: solid 2px #4368AB
    4. Navigationspunkt: solid 2px #F8B738
    5. Navigationspunkt: solid 2px #2FA1BC
    **************************************************************************/



    /**************************************************************************
    ToDo 8:
    Belegen Sie das Formular (form) mit folgender Eigenschaft:
    Breite:             640px
    **************************************************************************/



    /**************************************************************************
    ToDo 9:
    Belegen Sie das Fieldset (fieldset) mit folgenden Eigenschaften:
    Rahmen:             2px #7BB442 solid
    Schriftgroesse:     14px
    Breite:             580px
    **************************************************************************/



    /**************************************************************************
    ToDo 10:
    Belegen Sie die Inputfelder vom Typ="text" mit folgenden Eigenschaften:
    Rahmen:             1px #7BB442 solid
    Hoehe:              18px
    Breite:             220px
    **************************************************************************/



    /**************************************************************************
    ToDo 11:
    Belegen Sie die Labels der Inputfelder mit folgenden Eigenschaften:
    Display:            inline
    Schriftgroesse:     14px
    **************************************************************************/



    /**************************************************************************
    ToDo 12:
    Belegen Sie die Links des Footers mit folgenden Eigenschaften:
    Textdekoration:     none
    Schriftfarbe:       #AB428F
    **************************************************************************/