    /**************************************************************************
    ToDo 1:
    Belegen Sie die Hauptueberschriften mit folgender Eigenschaft: 
    Aussenabstand:        0 0 10px 0
    **************************************************************************/
h1 {
	margin: 0px 0 10px 0;
}


  /**************************************************************************
    ToDo 2:
    Belegen Sie die Hauptnavigation mit folgender Eigenschaft:
    Aussenabstand:        66px 0 0 0
    **************************************************************************/
nav {
	margin: 66px 0 0 0;
}


    /**************************************************************************
    ToDo 3:
    Belegen Sie die Listenpunkte der Hauptnavigation mit folgender Eigenschaft: 
    Innenabstand, rechts:   10px
    **************************************************************************/
nav ul li {
	padding-right: 10px;
}


    /**************************************************************************
    ToDo 4:
    Belegen Sie das Formular mit folgender Eigenschaft: 
    Aussenabstand:          0px 0 30px 0
    **************************************************************************/
form {
	margin: 0px 0 30px 0;
}


    /**************************************************************************
    ToDo 5:
    Belegen Sie das Fieldset mit folgenden Eigenschaften: 
    Aussenabstand:      0 0 10px 0
    Innenabstand:       20px
    **************************************************************************/
fieldset {
    margin: 0 0 10px 0;
    padding: 20px;
}


    /**************************************************************************
    ToDo 6:
    Belegen Sie die Absaetze des Fieldsets mit folgenden Eigenschaften:
    Schriftgroesse:     14px
    Aussenabstand:      0 0 4px 0
    **************************************************************************/
fieldset p {
    font-size: 14px;
    margin: 0 0 4px 0;
}


    /**************************************************************************
    ToDo 7:
    Belegen Sie die Inputfelder und Dropdownmenues mit folgender Eigenschaft: 
    Aussenabstand:      0 0 10px 0
    **************************************************************************/
input, select {
margin: 0 0 10px 0;
}


    /**************************************************************************
    ToDo 8:
    Belegen Sie die Inputfelder vom Typ="radio" mit folgender Eigenschaft:
    Aussenabstand:      0 15px 20px 0
    **************************************************************************/
input[type="radio"] {
    margin: 0px 15px 20px 0;
}


    /**************************************************************************
    ToDo 9:
    Belegen Sie die Marginalspalte mit folgenden Eigenschaften: 
    Aussenabstand:      5px 0 0 0
    Breite:             300px
    **************************************************************************/
#marginal {
	margin: 5px 0 0 0;
	width: 300px;
}


    /**************************************************************************
    ToDo 10:
    Belegen Sie die Hauptueberschriften der Marginalspalte mit folgenden Eigenschaften: 
    Schriftgroesse:     14px
    Aussenabstand:      0 0 10px 0
    Innenabstand:       0
    **************************************************************************/
#marginal h1 {
	font-size: 14px;
	margin: 0 0 10px 0;
	padding: 0;
}


    /**************************************************************************
    ToDo 11:
    Belegen Sie die Absaetze der Marginalspalte mit folgender Eigenschaft: 
    Display:            inline
    **************************************************************************/
#marginal p {
    margin: 0 0 10px 0;
}


    /**************************************************************************
    ToDo 12:
    Belegen Sie den gesamten Footer mit folgenden Eigenschaften: 
    Rahmen, oben:       1px black solid
    Schriftgroesse:     12px
    Innenabstand, oben: 20px
    **************************************************************************/
footer {
	border-top: 1px black solid;
	font-size: 12px;
	padding-top: 20px;
}


    /**************************************************************************
    ToDo 13:
    Belegen Sie die Container des Footers mit folgenden Eigenschaften: 
    Aussenabstand:      0 11px 0 0
    Breite:             149px
    **************************************************************************/
footer div {
	margin: 0 11px 0 0;
	width: 149px;
}


    /**************************************************************************
    ToDo 14:
    Belegen Sie die Liste des Footers mit folgender Eigenschaft 
    Aussenabstand:      0 0 12px 0
    **************************************************************************/
footer ul {
	margin: 0 0 12px 0;
}